.navigationBar{
    display: flex;
    /* justify-content: space-between; */
    font-family: serif;
    align-items: center;
}


.logoIconNhome{
    width: 50%;

}

.createNsession{
    display: flex;
    width: 50%;
    align-content: right;
}

.logInSignup{
    display: flex;
    right: 10px;
    font-family: serif;
    height: 40px;
}





.logoIcon{
    width: 40px;
    height: 40px;
}
