#currentSpot {
    display: flex;
    flex-direction: column;
}

.manageSpot {
    height: 50px;
    margin: 15px;
    font-size: 30px;
}

.currentallSpotImg {

    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* 這是 上下&左右間距 */
    padding: 3% 5%;
    align-content: space-around;
}



.spotImgOutter {
    box-sizing: border-box;
    margin-left: 30px;
    flex: 0 0 22%;
}

.spotImg {
    height: 250px;
    width: 270px;
}

.cityNpriceNrate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 270px;
}

.location {
    width: 50%;
}

.rate {
    width: 50%;
    text-align: right;
}


.priceNbtn {
    display: flex;
}

.price {
    width: 50%;
}

.actionBtn {
    display: flex;
    padding: 0 0 0 30px;
    justify-content: space-around;
}


#creatBtn {
    background-color: rgb(190, 190, 190);
    border: solid black 2px;
}


.button-13 {
    display: flex;
    padding: 0 0 0 30px;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: cursive;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    /* width: 100px; */
}



.button-13:hover {
    background-color: #f7fafa;
}

.button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}
