#currentSpot {
    display: flex;
    flex-direction: column;
}

.manageSpot {
    height: 50px;
}

.allSpotImg {

    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* 這是 上下&左右間距 */
    padding: 3% 5%;
    align-content: space-around;
}



.spotImgOutter {
    box-sizing: border-box;
    margin-left: 30px;
    flex: 0 0 22%;
}

.spotImg {
    height: 250px;
    width: 270px;
}

.cityNpriceNrate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 270px;
}

.location {
    width: 50%;
}

.rate {
    width: 50%;
    text-align: right;
}


.priceNbtn {
    display: flex;
}

.price {
    width: 50%;
}

.actionBtn {
    display: flex;
    padding: 0 0 0 30px;
}


#creatBtn {
    background-color: rgb(190, 190, 190);
    border: solid black 2px;
}
