/* ----------------- form ----------------- */

.postReviewForm {
   margin-top: 5px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

/* ----------------- for textarea ----------------- */
textarea {
   margin: 10px;
   width: 270px;
   height: 100px;
}

/* ----------------- for button ----------------- */

.button {
   margin: 5px;
}

/* ----------------- for ratingStar ----------------- */


/* .rating.stars {
   color: #cfcfcf
}

.rating.stars i:hover~i {
   color: yellow;
} */

.stars {
   /* display: flex; */
   float: left;
   border-style: none;

}

.stars:not(:checked)>input {
   position: absolute;
   top: -9999px;
   clip: rect(0, 0, 0, 0);
}

.stars:not(:checked)>label {
   float: right;
   width: .80em;
   overflow: hidden;
   white-space: nowrap;
   cursor: pointer;
   font-size: 40px;
   line-height: 32px;
   color: lightgrey;
   margin-bottom: 10px !important;
}

.stars:not(:checked)>label:before {
   content: '★';
}

.stars>input:checked~label {
   color: rgb(243, 223, 46);
   text-shadow: none;
}

.stars:not(:checked)>label:hover,
.stars:not(:checked)>label:hover~label {
   color: rgb(243, 223, 46);

}

.stars>input:checked+label:hover,
.stars>input:checked+label:hover~label,
.stars>input:checked~label:hover,
.stars>input:checked~label:hover~label,
.stars>label:hover~input:checked~label {
   color: rgb(243, 223, 46);
   text-shadow: none;

}

.stars>label:active {
   position: relative;
   top: 0px;
   left: 0px;
}
