/* --------------- outter --------------- */
body {
    background: rgb(238, 174, 202);
    background: linear-gradient(0deg, rgba(238, 174, 202, 1) 0%, rgba(192, 181, 218, 1) 51%, rgba(148, 187, 233, 1) 100%);
}

.detailspage {
    width: 100%;
    height: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    margin: 10px 30px 10px 30px;
}

/* ----------------- Spot Name and Location ----------------- */
h2 {
    margin: 15px 0 0 0;
    font-size: 1.7em;
}

h3 {
    margin: 5px 0 5px 0;
}

/* ----------------- for img ----------------- */
.imgContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
        "bigImg bigImg sImg1 sImg2"
        "bigImg bigImg sImg3 sImg4";
    width: 100%;
    height: 412px;
}


.sImgSize {
    height: 205px;
    width: 100%;
}

/* ----------------- change previewImg ----------------- */
.imgContainer img:first-child {
    grid-area: bigImg;
    height: 412px;
    width: 100%;
}

/* --------------- for Host Note --------------- */
.descriptionNbtn {
    display: flex;
    width: 100%;

    margin-top: 15px;
    /* 隔開上方圖片 */
    padding-bottom: 15px;
    /* 隔開下方劃線 */
    border-bottom: 1px solid black;
}

.description {
    width: 70%;
}

/* ----------------- for Action Box ----------------- */

.actionContainer {
    width: 30%;
}

.actFormat {
    border: 3px solid black;
    border-radius: 10px;
    height: 100px;
    margin-right: 50px;
    padding: 5%;
    width: 70%;
}

.actLabel {
    font-size: 12pt;
    margin-left: 2px;
    font-weight: bold;
}

.actInfo {
    font-size: 18pt;
    font-weight: bold;
}

.actText {
    margin: 10px 10px 10px 0px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.actButton {
    margin: 10px 0px 10px 0px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {

    .actionContainer {
        width: 60%;
    }

    .actFormat {
        border: 3px solid black;
        border-radius: 10px;
        height: 100px;
        margin-right: 50px;
        padding: 5%;
        width: 50%;
    }

    .reviewInfo {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 905px) {

    .actionContainer {
        width: 60%;
    }

    .actFormat {
        border: 3px solid black;
        border-radius: 10px;
        height: 100px;
        margin-right: 50px;
        padding: 5%;
        width: 50%;
    }

    .reviewInfo {
        display: flex;
        flex-wrap: wrap;
    }

    .actLabel {
        font-size: 10pt;
        margin-left: 2px;
        font-weight: bold;
    }

}



/* ----------------- for Reviews ----------------- */
.reviewDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 8px;
}

.numOfcomments {
    display: flex;
    margin: 15px 0 0 0;
}

.rating {
    font-size: 24pt;
    font-weight: bold;

}

.reviewsCount {
    margin-left: 25px;
    font-size: 24pt;
    font-weight: bold;
}

/**/
.postBottom {
    width: 30px;
}

.reviewName {
    font-size: 40px;
}

.reviewDate {
    font-size: 12pt;
    color: beige;
}

.reviewContent {
    font-size: 16pt;
}

/* ----------------- for warning ----------------- */

.warning {
    text-align: center;
    font-size: 50px;
}
