.details{
    display: flex;
    flex-direction: column;

}


.descriptionNbtn{
    display: flex;
    flex-direction: row;
}

.description{
    width: 50%;
}


.actionBtn{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
    /* text-align: right; */
}

.reviewDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}


.numOfcomments{
    display: flex;
}


.img{
    width: 50%;
    height: 412px;
}
