.logInSignup{
    display: flex;
    right: 10px;
    font-family: serif;
    height: 40px;
}


.homeNsession{
    display: flex;
    justify-content: space-between;
    font-family: serif;
    align-items: center;
}



.logoIcon{
    width: 40px;
    height: 40px;
}
